@model eBuy.ViewModels.CartViewModel

<div class="row d-flex justify-content-between">
    <div class="title"><strong>Carts</strong></div>
    <div class="cart">
        <i class="fas fa-shopping-cart fa-lg"></i> @Html.ActionLink("Cart(" + Model.CartCount + ")", "Index", "Cart", null, new { @class = "cart-text" })
    </div>

</div>

<div class="panel-body">
    @if (Model.CartProducts.Count < 1)
    {
        <h4 class="text-danger">No Cart Added</h4>
    }
    else
    {
        double total = 0;
        <ol class="list-group list-group-numbered">
            @foreach (var cart in Model.CartProducts)
            {
                using (Html.BeginForm("Remove", "Cart"))
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <input type="hidden" value="@cart.Id" name="cartId" />
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">@cart.Name</div>
                            Unit Price: &#8358; @cart.UnitPrice
                        </div>
                        <span class="badge rounded-pill">Quantity: @cart.Quantity</span>
                        <input type="submit" value="Remove" class="btn-danger" />
                    </li>
                    total += cart.UnitPrice * cart.Quantity;
                }
            }
        </ol>

        <div class="row">
            <label class="total">Total: &#8358; @total</label>
        </div>
        <div class="row">
            <input type="submit" value="Checkout" class="btn btn-info ml-2" />
        </div>
    }
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#breadcrumb").remove();
</script>
